
.navbar,
.red {
  background-color: red;
}

.navbar > div > button {
  width: 110px;
  height: auto;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-bottom {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.nav-bottom span {
  padding: 10px 20px;
  font-weight: bold;
}

.nav-bottom a {
  text-decoration: none;
  color: #aaa;
  padding: 10px 20px;
  font-weight: bold;
}

.nav-bottom a:hover {
  color: #f72210;
  text-decoration: none;
}

footer {
  width: 97%;
  margin: auto;
  border-top: 1px solid #d9d9d9;
  padding-top: 6px;
  font-size: 11px;
  line-height: 15px;
  color: #343a40;  
}
footer .fas, footer .fab {
  margin: auto;
  color: #aaa;
  padding: 4px 4px;
}

.footer a {
  text-decoration: none;
}

footer .fas:hover , footer .fab:hover  {
 color:#007bff
}

.footercountry {
  border-top: 1 px solid red;
  margin: 5px;
  z-index: 5;
}

.footercountry a {
  margin-right: 5px;
  text-align: start;
  text-decoration: none;
  padding: -5px 10px;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  background-color: #f4f5f6;
  color: #333;
}

.copyright {
  margin-top: 0;
  margin-left: 1px;
}

.text-red {
  padding-bottom: 0;
  color: red;
  font-weight: bold;
}
.mainbody {
  color: black;
  text-decoration: none;
}

/*  Media query */

@media (min-width: 768px) { 
  .mainbody {
    background-color: white;
  }

 }
