
.container-fluid {
  max-width: 1310px;
  margin-left: auto;
  margin-right: auto;
}

.nav-sticky {
  background-color: red;
  width: 100%;
  max-width: 1270px;
  position: fixed;
  top: 0;
  z-index: 5;
}

.not-sticky {
  width: 1200px;
  position: relative;
  z-index: 9;
}

.nav-color {
  position: relative;
  color: #f4f5f6;
}

a {
  text-decoration: none;
  color: inherit;
}

.mynav2 a {
  font-weight: bold;
  color: black;
}

.navbar,
.red {
  margin-left: -15px;
  width: 1270px;
  background-color: red;
}

.nav-b {
  margin-top: 3px;
  width: 100%;
  height: auto;
  font-weight: bolder;
}

.navbar > div > button {
  width: 110px;
  height: auto;
  font-weight: bolder;
}

.nav-bottom {
  margin-left: -15px;
  width: 1270px;
  background-color: #f4f5f6;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.nav-bottom span {
  padding: 10px 20px;
  font-weight: bold;
}

.nav-bottom a {
  text-decoration: none;
  color: #aaa;
  padding: 10px 20px;
  font-weight: bold;
}

.footercountry a {
  margin-right: 5px;
  text-align: start;
  text-decoration: none;
  padding: -5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  background-color: #f4f5f6;
  color: #333;
}

.footer a {
  text-decoration: none;
}

.nav-bottom a:hover {
  color: #f72210;
  text-decoration: none;
}

footer {
  width: 97%;
  margin: auto;
  border-top: 1px solid #d9d9d9;
  padding-top: 6px;
  font-size: 11px;
  line-height: 15px;
  color: #343a40;
}

footer .fas,
footer .fab {
  margin: auto;
  color: #aaa;
  padding: 4px 4px;
}

footer .fas:hover,
footer .fab:hover {
  color: #007bff;
}

.footercountry {
  border-top: 1 px solid red;
  margin: 5px;
  z-index: 5;
}

.copyright {
  margin-top: 0;
  margin-left: 1px;
}

.text-red {
  padding-bottom: 0;
  color: red;
  font-weight: bold;
}

.mainbody {
  color: black;
  text-decoration: none;
}





@media (max-width: 562px) {
  .nav-b {
    padding-bottom: 15px;
    position: absolute;
    margin-left: 250px;
    font-weight: bolder;
  }
}

@media (max-width: 992px) {
  .not-sticky {
    display: none;
  }
}

/* Media query */
@media (min-width: 768px) {
  .mainbody {
    background-color: white;
  }
}





 /* Elyor Start Section */
.form-group {
  width: 300px;
  height: 200px;
}


.culture-photo {
  width: 100px;
  height: 100px;
}

.mail-form {
  width: 220px;
}

.submit-form {
  background-color: rgb(240, 55, 55);
  color: white;
  width: 220px;
}

.n-icon {
  width: 25px;
  height: 25px;
}

/* more stories */
.more-pics {
  width: 70px;
  height: 70px;
}